body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirmOrder {
    background-color: #FF6347; 
    color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 250px; 
    position: relative;
    top: 50%; 
    transform: translateY(-50%); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#confirmOrder:hover {
    transform: translateY(-60%) scale(1.05); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); 
}

#confirmOrder p {
    font-size: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#confirmOrder i {
    margin-right: 10px; 
    font-size: 50px; 
}